<h2 mat-dialog-title>
  {{ data.data ? 'Editar presupuesto' : 'Crear presupuesto' }}
</h2>

<mat-dialog-content class="py-2" [formGroup]="form">
  <div class="grid grid-cols-1 py-2">
    <div class="mb-3">
      <mat-form-field appearance="outline" class="w-50">
        <mat-label>Mes y año</mat-label>
        <input readonly matInput [matDatepicker]="dp" formControlName="Date" />
        <mat-hint>MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)" panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Tipo de gasto</mat-label>
        <mat-select formControlName="ExpenseTypeId">
          <mat-option *ngFor="let et of expenseTypes" [value]="et.Id">
            {{ et.Name }}
          </mat-option>
        </mat-select>
        <mat-error> Expense type is required. </mat-error>
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Monto</mat-label>
        <input type="number" matInput formControlName="Amount" />
        <mat-hint>{{ Amount?.value | number : '1.2-2' }}</mat-hint>
        <mat-error> El monto es requerido. </mat-error>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Guardar cambios</button>
</mat-dialog-actions>
