<div class="mx-auto max-w-7xl px-4">
  <div class="min-h-screen flex items-center justify-center">
    <div class="w-full max-w-md p-6 border rounded-lg bg-gray-50">
      <div class="grid grid-cols-1" [formGroup]="registerForm">
        <div>
          <h3 class="text-center text-xl font-semibold">Registro de usuario</h3>
        </div>

        <div class="mt-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="Username" placeholder="Usuario" type="text" autocomplete="off" />
            <mat-error>El usuario es requerido</mat-error>
          </mat-form-field>
        </div>

        <div class="mt-3">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput formControlName="Email" placeholder="Email" type="email" autocomplete="off" />
            <mat-error>El email es requerido, y debe contar con estructura de email.</mat-error>
          </mat-form-field>
        </div>

        <div class="mt-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              formControlName="Password"
              placeholder="Contraseña"
              [type]="hidePassword() ? 'password' : 'text'"
              autocomplete="new-password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEventPassword($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword()"
            >
              <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error
              >La contraseña requiere al menos un mayúscula, minúscula, un número y un caracter especial, longitud mínima de 8
              caracteres</mat-error
            >
          </mat-form-field>
        </div>

        <div class="mt-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Confirmar contraseña</mat-label>
            <input
              matInput
              formControlName="ConfirmPassword"
              placeholder="Confirmación"
              [type]="hideConfirmPassword() ? 'password' : 'text'"
              autocomplete="new-password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEventConfirmPassword($event)"
              [attr.aria-label]="'Hide password confirm'"
              [attr.aria-pressed]="hideConfirmPassword()"
            >
              <mat-icon>{{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error>La contraseñas no coinciden</mat-error>
          </mat-form-field>
        </div>

        <div class="mt-1">
          <p class="text-left">¿Ya estás registrado? <a mat-button routerLink="/auth/login">¡Inicia sesión!</a></p>
        </div>

        <div class="mx-auto w-full max-w-xs">
          <button class="w-full" (click)="submitForm()" type="button" color="primary" mat-flat-button>Registrarse</button>
        </div>
      </div>
    </div>
  </div>
</div>
