<div class="d-flex justify-content-between align-items-center mb-3 mt-3 mx-3">
  <h2>Registrar gasto</h2>
</div>

<mat-divider></mat-divider>

<form class="mt-4 mx-4 p-4" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
  <mat-card class="mb-3 p-4">
    <div class="grid grid-cols-2 gap-4">
      <div class="">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="Date" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Fondo</mat-label>
          <mat-select formControlName="MoneyFundId">
            <mat-option *ngFor="let mf of moneyFunds" [value]="mf.Id">
              {{ mf.Name }} ({{ mf.AccountType | accountTypeTranslate }})
            </mat-option>
          </mat-select>
          <mat-error> Fondo es requerido. </mat-error>
        </mat-form-field>
      </div>

      <div class="">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nombre de comerciante</mat-label>
          <input matInput formControlName="MerchantName" />
        </mat-form-field>
      </div>

      <div class="">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tipo de documento</mat-label>
          <mat-select formControlName="DocumentType">
            <mat-option *ngFor="let dt of documentTypes" [value]="dt.value">
              {{ dt.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Comentarios</mat-label>
          <textarea matInput rows="2" formControlName="Comments"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card>

  <mat-card class="p-4 mt-4">
    <div class="flex justify-between items-center mb-4">
      <h3>Detalles</h3>
      <button mat-stroked-button color="accent" type="button" (click)="addDetailRow()">Agregar detalle</button>
    </div>

    <div formArrayName="Details">
      <div *ngFor="let group of details.controls; let i = index" [formGroupName]="i" class="flex flex-row gap-4">
        <div class="basis-1/4 mb-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Tipo de gasto</mat-label>
            <mat-select formControlName="ExpenseTypeId">
              <mat-option *ngFor="let et of expenseTypes" [value]="et.Id">
                {{ et.Name }}
              </mat-option>
            </mat-select>
            <mat-error> Tipo de gasto es requerido </mat-error>
          </mat-form-field>
        </div>

        <div class="basis-2/4 mb-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Monto</mat-label>
            <input matInput type="number" formControlName="Amount" />
            <mat-error> El monto es requerido </mat-error>
            <mat-hint>{{ group.get('Amount')?.value | number : '1.2-2' }}</mat-hint>
          </mat-form-field>
        </div>

        <div class="basis-3/4 mb-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Comentarios</mat-label>
            <input matInput formControlName="Comments" />
          </mat-form-field>
        </div>

        <div class="basis-4/4 mb-2">
          <button mat-icon-button color="warn" type="button" (click)="removeDetailRow(i)" *ngIf="details.length > 1">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="details.length === 0" class="text-muted">Sin detalles agregados.</div>
    </div>
  </mat-card>

  <div class="mt-3 flex justify-end">
    <button mat-raised-button color="primary" type="submit">Guardar gasto</button>
  </div>
</form>
