<h2 mat-dialog-title>
  {{ data ? 'Editar tipo de gasto' : 'Crear tipo de gasto' }}
</h2>

<mat-dialog-content class="py-2" [formGroup]="form">
  <div class="grid grid-cols-1 py-2">
    <div class="mb-3">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="Name" />
        <mat-error> El nombre es requerido. </mat-error>
      </mat-form-field>
    </div>

    <div class="mb-3" *ngIf="data">
      <mat-slide-toggle formControlName="IsActive"> Activo </mat-slide-toggle>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Guardar cambios</button>
</mat-dialog-actions>
