<div class="mx-auto max-w-7xl px-4">
  <div class="min-h-screen flex items-center justify-center">
    <div class="w-full max-w-md p-6 border rounded-lg bg-gray-50">
      <div class="grid grid-cols-1" [formGroup]="loginForm">
        <div>
          <h3 class="text-center text-xl font-semibold">Iniciar sesión</h3>
        </div>

        <div class="mt-3">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Usuario o Email</mat-label>
            <input matInput formControlName="UsernameOrEmail" placeholder="Usuario" type="text" />
            <mat-error>El usuario es requerido.</mat-error>
          </mat-form-field>
        </div>
        <div class="mt-3">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Contraseña</mat-label>
            <input
              (keydown.enter)="submitForm()"
              matInput
              formControlName="Password"
              placeholder="Contraseña"
              [type]="hidePassword() ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEventPassword($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword()"
            >
              <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error>La contraseña es requerida.</mat-error>
          </mat-form-field>
        </div>

        <div class="mt-5">
          <p class="text-left">¿Aún no estás registrado? <a mat-button routerLink="/auth/register">¡Registrate!</a></p>
        </div>

        <div class="mx-auto w-full max-w-xs">
          <button class="w-full" (click)="submitForm()" type="button" color="primary" mat-flat-button>Iniciar sesión</button>
        </div>
      </div>
    </div>
  </div>
</div>
